@media screen and ( min-width:360px ) and ( max-width:1300px )
{
    .Container_profil
    {
        background-size: 200% 200%;
    }
    .Box_titre_profil
    {
        padding: 0px;
        .titre_profil
        {
            margin-left: 20px;
            margin-top: 200px;
            font-size: 1.5vw;
        }
    }
}