@media screen and ( min-width:360px )
{
    .Container_service
    {
        padding-bottom:30px;
        background-color:  rgb(226, 226, 226);
        h2
        {
        font-weight: lighter;
        font-variant-caps: all-small-caps;
        color: rgb(82, 82, 82);
        font-size: 2em;
        letter-spacing: 5px;
        text-align: center;
        margin-bottom: 5%;
        margin-top: 0px;
        padding-top: 10%;
        }
        .Ligne
        {
        border: 1px black solid;
        background: black;
        margin-right: 45%;
        margin-left: 45%;
        }
        .Box_bulle_service
        {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        height: 200px;
        .Lot_3
        {
            display: flex;
            flex-flow: row;
            gap: 10vw;
        }
        }
    }    
}