.Container_presentation
{
    background-color:  rgb(226, 226, 226) ;
    height: 500px;
    .Ligne
    {
        border: 1px black solid;
        margin-right: 45%;
        margin-left: 45%;
    }
}
.Box_texte_presentation
{
    text-align: center;
    padding-top: 50px ;
    h2
    {
        font-weight: lighter;
        font-variant-caps: all-small-caps;
        color: rgb(82, 82, 82);
        font-size: 2em;
        letter-spacing: 5px;
    }
}