.Container_profil
{
    background-image: linear-gradient(rgba(125, 125, 146, 0.5), rgba(123, 123, 253, 0.5)),
    url("Images/avatar_Design.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300% 300%;
    height: 700px;
}
.Box_titre_profil
{
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-left: 50px;
}
.titre_profil
{
    p 
    {
        font-variant-caps: all-small-caps;
        margin-top: 0px;
        font-size: 2em;
        color: rgb(236, 234, 234);
    }
    h1
    {
        font-variant-caps: all-small-caps;
        font-size: 3em;
        color: white;
        font-family: "Arial black" impact ;
    }
}