.Container_profil
{
    background-image: linear-gradient(rgba(125, 125, 146, 0.5), rgba(123, 123, 253, 0.5)),
    url("Images/pdp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 190%;
    height: 800px;
}
.Box_titre_profil
{
    display: flex;
    height: 100%;
}
.titre_profil
{
    color: red;
    font-size: 2em;
}