@media screen and (min-width: 360px) {
  .Container_profil {
    background-size: 250% 250%;
  }
  .Box_titre_profil {
    padding: 0px;
  }
  .Box_titre_profil .titre_profil {
    font-size: calc(0.3em + 1vw);
  }
  .Container_profil {
    background-image: linear-gradient(rgba(125, 125, 146, 0.5), rgba(123, 123, 253, 0.5)), url("Images/avatar_Design.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 230% 230%;
    height: 600px;
  }
  .Box_titre_profil {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-left: 2%;
  }
  .titre_profil p {
    font-variant-caps: all-small-caps;
    margin-top: 0px;
    font-size: 2em;
    color: rgb(236, 234, 234);
  }
  .titre_profil h1 {
    font-variant-caps: all-small-caps;
    font-size: 3em;
    color: white;
    font-family: "Arial black" impact;
  }
}
@media screen and (min-width: 360px) {
  h3 {
    display: none;
  }
  .Container_nav_presentation {
    height: 50px;
  }
  .Container_nav_presentation {
    display: flex;
    flex-flow: row;
  }
  .Container_nav_presentation h3 {
    padding-left: 100px;
    color: rgb(104, 104, 104);
    font-variant-caps: all-small-caps;
    font-size: 1.2;
    font-family: "Arial black", impact;
    letter-spacing: 5px;
  }
  .Box_navbar_presentation {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
  }
  .Box_navbar_presentation article {
    font-weight: lighter;
    font-variant-caps: all-small-caps;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    color: rgb(138, 138, 138);
    height: 100%;
    font-size: 2vw;
  }
  .Box_navbar_presentation article:hover {
    background-color: black;
    color: white;
  }
}
@media screen and (min-width: 360px) {
  .Container_presentation {
    padding-bottom: 30px;
  }
  .Container_presentation {
    background-color: rgb(226, 226, 226);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .Container_presentation .Ligne {
    background-color: black;
    border: 1px black solid;
    margin-right: 45%;
    margin-left: 45%;
  }
  .Box_texte_presentation {
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 80%;
    height: 100%;
  }
  .Box_texte_presentation h2 {
    text-align: center;
    font-weight: lighter;
    font-variant-caps: all-small-caps;
    color: rgb(82, 82, 82);
    font-size: 1.5em;
    letter-spacing: 5px;
    margin-bottom: 5%;
    margin-top: 0px;
    padding-top: 10%;
  }
  .Box_texte_presentation .Box_texte_p {
    height: 50%;
  }
  .Box_texte_presentation .Box_texte_p p {
    font-size: 1.5em;
    color: rgb(82, 82, 82);
    font-weight: lighter;
    font-variant-caps: all-small-caps;
  }
  .Box_texte_presentation .Box_texte_p span {
    font-weight: bold;
    font-style: italic;
  }
  .Box_texte_presentation .Box_texte_p .blue {
    color: rgb(117, 200, 255);
  }
}
@media screen and (min-width: 360px) {
  .Container_mes_travaux {
    padding-bottom: 30px;
    background-color: white;
  }
  .Container_mes_travaux h2 {
    padding-left: 50px;
    padding-right: 50px;
    font-weight: lighter;
    font-variant-caps: all-small-caps;
    color: rgb(82, 82, 82);
    font-size: 2em;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 0px;
    padding-top: 10%;
  }
  .Container_mes_travaux .Ligne {
    border: 1px black solid;
    background: black;
    margin-right: 45%;
    margin-left: 45%;
  }
  .Container_mes_travaux .Box_navbar_travaux {
    height: 20px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    gap: 2%;
  }
  .Container_mes_travaux .Box_navbar_travaux article {
    height: 40px;
    border: 1px rgb(226, 226, 226) outset;
    border-radius: 5px;
    padding-right: 3px;
    padding-left: 3px;
    background-color: rgb(226, 226, 226);
    font-weight: bold;
    font-variant-caps: all-small-caps;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    color: rgb(56, 56, 56);
    font-size: 2.2vw;
  }
  .Container_mes_travaux .Box_navbar_travaux article:hover {
    background-color: black;
    color: white;
  }
  .Container_mes_travaux .Box_bulle_travaux {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 200px;
  }
  .Container_mes_travaux .Box_bulle_travaux .Lot_3 {
    display: flex;
    flex-flow: row;
    gap: 10vw;
  }
}
@media screen and (min-width: 360px) {
  .Container_service {
    padding-bottom: 30px;
    background-color: rgb(226, 226, 226);
  }
  .Container_service h2 {
    padding-left: 50px;
    padding-right: 50px;
    font-weight: lighter;
    font-variant-caps: all-small-caps;
    color: rgb(82, 82, 82);
    font-size: 2em;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 0px;
    padding-top: 10%;
  }
  .Container_service .Ligne {
    border: 1px black solid;
    background: black;
    margin-right: 45%;
    margin-left: 45%;
  }
  .Container_service .Box_bulle_service {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 200px;
  }
  .Container_service .Box_bulle_service .Lot_3 {
    display: flex;
    flex-flow: row;
    gap: 10vw;
  }
}
@media screen and (min-width: 360px) {
  .Box_competence_right {
    padding-bottom: 30px;
    background-color: white;
  }
  .Box_competence_right h2 {
    padding-left: 50px;
    padding-right: 50px;
    font-weight: lighter;
    font-variant-caps: all-small-caps;
    color: rgb(82, 82, 82);
    font-size: 2em;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 0px;
    padding-top: 10%;
  }
  .Ligne {
    border: 1px black solid;
    background: black;
    margin-right: 45%;
    margin-left: 45%;
  }
  .Box_bar_competence {
    margin-top: 24px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .Box_bar_competence .Bar_competence_html {
    border: 2px black;
    border-radius: 5px;
    background: linear-gradient(to right, #f1322b 95%, #e2e2e2 20%);
    height: 25px;
  }
  .Box_bar_competence .Bar_competence_html .fa-brands.fa-html5 {
    margin-top: 5px;
    margin-left: 5px;
    color: white;
  }
  .Box_bar_competence .Bar_competence_css {
    border: 2px black;
    border-radius: 5px;
    background: linear-gradient(to right, #235988 80%, #e2e2e2 20%);
    height: 25px;
  }
  .Box_bar_competence .Bar_competence_css .fa-brands.fa-css3 {
    margin-top: 5px;
    margin-left: 5px;
    color: white;
  }
  .Box_bar_competence .Bar_competence_javascript {
    border: 2px black;
    border-radius: 5px;
    background: linear-gradient(to right, #e85f80 70%, #e2e2e2 20%);
    height: 25px;
  }
  .Box_bar_competence .Bar_competence_javascript .fa-brands.fa-js {
    margin-top: 5px;
    margin-left: 5px;
    color: white;
  }
  .Box_bar_competence .Bar_competence_php {
    border: 2px black;
    border-radius: 5px;
    background: linear-gradient(to right, #5399c8 30%, #e2e2e2 20%);
    height: 25px;
  }
  .Box_bar_competence .Bar_competence_php .fa-brands.fa-php {
    margin-top: 5px;
    margin-left: 5px;
    color: white;
  }
}
@media screen and (min-width: 360px) {
  .Container_Contact {
    padding-bottom: 30px;
    background-color: rgb(226, 226, 226);
  }
  .Container_Contact h2 {
    padding-left: 50px;
    padding-right: 50px;
    font-weight: lighter;
    font-variant-caps: all-small-caps;
    color: rgb(82, 82, 82);
    font-size: 2em;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 0px;
    padding-top: 10%;
  }
  .Container_Contact .Box_contact {
    margin-top: 24px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
  }
  .Container_Contact .Box_contact div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .Container_Contact .Box_contact .imput_1 {
    width: 50%;
  }
  .Container_Contact .Box_contact .imput_2 {
    width: 50%;
    height: 150px;
  }
  .Container_Contact .Box_contact .imput_3 {
    border-radius: 4px;
    height: 30px;
    width: 50%;
    color: white;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    background: rgb(34, 34, 34);
  }
  .Ligne {
    border: 1px black solid;
    background: black;
    margin-right: 45%;
    margin-left: 45%;
  }
}/*# sourceMappingURL=Portfolio.css.map */